@import "tailwindcss";

@theme {
  --font-sans:"Kanit", "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --primary-color : rgb(191, 180, 23);
  --bg-color : #080e1c;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

 
}


.btn-primary {
  @apply bg-(--primary-color) text-white rounded-full px-4 cursor-pointer;
}