@import "tailwindcss";

@theme {
  --font-sans:"Kanit", "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

 
}


.btn-primary {
  @apply bg-blue-700 text-white ;
}