@import "tailwindcss";

@theme {
  --font-sans:"Kanit", "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --primary-color : rgb(237, 173, 13);
  --bg-color : #080e1c;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

 
}


.btn-primary {
  @apply px-12 py-5 bg-(--bg-color) text-xs font-bold
   uppercase tracking-widest hover:text-white
   text-white border border-(--bg-color) transition-all duration-500;
}